python-swiftclient
python-keystoneclient
alembic==0.8.8
androguard==3.0.1
beautifulsoup4==4.5.3
chardet==2.3.0
click==6.6
construct>=2.0, <2.8
django==1.8.4
django_extensions==1.6.7
dpkt==1.8.7
egghatch==0.2.1
elasticsearch
flask==0.12.2
flask-sqlalchemy==2.1
httpreplay>=0.2.1, <0.3
jinja2==2.9.6
jsbeautifier==1.6.2
oletools==0.52
pefile2==1.2.11
pillow==3.2.0
pyelftools==0.24
pymisp==2.4.85.1
pymongo==3.0.3
python-dateutil==2.4.2
python-magic==0.4.12
scapy==2.3.2
sflock
sqlalchemy==1.0.8
unicorn==1.0.1
wakeonlan==0.2.2
requests[security]==2.13.0
jsbeautifier==1.6.2
XenAPI==1.2
ujson
certifi
udatetime
DataParserLib